-- MySQL dump 10.13  Distrib 8.0.40, for Win64 (x86_64)
--
-- Host: localhost    Database: visitorDB
-- ------------------------------------------------------
-- Server version	8.0.40

/*!40101 SET @OLD_CHARACTER_SET_CLIENT=@@CHARACTER_SET_CLIENT */;
/*!40101 SET @OLD_CHARACTER_SET_RESULTS=@@CHARACTER_SET_RESULTS */;
/*!40101 SET @OLD_COLLATION_CONNECTION=@@COLLATION_CONNECTION */;
/*!50503 SET NAMES utf8mb4 */;
/*!40103 SET @OLD_TIME_ZONE=@@TIME_ZONE */;
/*!40103 SET TIME_ZONE='+00:00' */;
/*!40014 SET @OLD_UNIQUE_CHECKS=@@UNIQUE_CHECKS, UNIQUE_CHECKS=0 */;
/*!40014 SET @OLD_FOREIGN_KEY_CHECKS=@@FOREIGN_KEY_CHECKS, FOREIGN_KEY_CHECKS=0 */;
/*!40101 SET @OLD_SQL_MODE=@@SQL_MODE, SQL_MODE='NO_AUTO_VALUE_ON_ZERO' */;
/*!40111 SET @OLD_SQL_NOTES=@@SQL_NOTES, SQL_NOTES=0 */;

--
-- Table structure for table `activitylog`
--

DROP TABLE IF EXISTS `activitylog`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `activitylog` (
  `id` int NOT NULL AUTO_INCREMENT,
  `userId` int NOT NULL,
  `action` varchar(191) COLLATE utf8mb4_unicode_ci NOT NULL,
  `timestamp` datetime(3) NOT NULL DEFAULT CURRENT_TIMESTAMP(3),
  PRIMARY KEY (`id`),
  KEY `ActivityLog_userId_fkey` (`userId`),
  CONSTRAINT `activitylog_userId_fkey` FOREIGN KEY (`userId`) REFERENCES `users` (`id`) ON DELETE RESTRICT ON UPDATE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=3 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `activitylog`
--

LOCK TABLES `activitylog` WRITE;
/*!40000 ALTER TABLE `activitylog` DISABLE KEYS */;
INSERT INTO `activitylog` VALUES (1,1,'price_sync_completed','2025-07-01 11:27:57.644'),(2,2,'card_listed_for_sale','2025-07-01 11:27:57.652');
/*!40000 ALTER TABLE `activitylog` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `admin_wallet`
--

DROP TABLE IF EXISTS `admin_wallet`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `admin_wallet` (
  `id` int NOT NULL AUTO_INCREMENT,
  `wallet_type` enum('PLATFORM') DEFAULT 'PLATFORM',
  `balance` decimal(12,2) DEFAULT '0.00',
  `total_commissions` decimal(12,2) DEFAULT '0.00',
  `total_marketplace_sales` decimal(12,2) DEFAULT '0.00',
  `created_at` datetime DEFAULT CURRENT_TIMESTAMP,
  `updated_at` datetime DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=2 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `admin_wallet`
--

LOCK TABLES `admin_wallet` WRITE;
/*!40000 ALTER TABLE `admin_wallet` DISABLE KEYS */;
INSERT INTO `admin_wallet` VALUES (1,'PLATFORM',83.47,6.56,76.91,'2025-07-21 14:24:23','2025-08-04 18:06:39');
/*!40000 ALTER TABLE `admin_wallet` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `admin_wallet_transactions`
--

DROP TABLE IF EXISTS `admin_wallet_transactions`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `admin_wallet_transactions` (
  `id` int NOT NULL AUTO_INCREMENT,
  `admin_wallet_id` int NOT NULL,
  `transaction_type` enum('COMMISSION','MARKETPLACE_SALE','WITHDRAWAL','ADJUSTMENT') NOT NULL,
  `amount` decimal(10,2) NOT NULL,
  `balance_before` decimal(12,2) NOT NULL,
  `balance_after` decimal(12,2) NOT NULL,
  `description` varchar(255) DEFAULT NULL,
  `reference_type` varchar(50) DEFAULT NULL,
  `reference_id` int DEFAULT NULL,
  `user_card_id` int DEFAULT NULL,
  `buyer_id` int DEFAULT NULL,
  `seller_id` int DEFAULT NULL,
  `card_id` int DEFAULT NULL,
  `commission_rate` decimal(5,2) DEFAULT NULL,
  `admin_id` int DEFAULT NULL,
  `created_at` datetime DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`),
  KEY `admin_wallet_id` (`admin_wallet_id`),
  KEY `idx_transaction_type` (`transaction_type`),
  KEY `idx_reference` (`reference_type`,`reference_id`),
  KEY `idx_created_at` (`created_at`),
  CONSTRAINT `admin_wallet_transactions_ibfk_1` FOREIGN KEY (`admin_wallet_id`) REFERENCES `admin_wallet` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=31 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `admin_wallet_transactions`
--

LOCK TABLES `admin_wallet_transactions` WRITE;
/*!40000 ALTER TABLE `admin_wallet_transactions` DISABLE KEYS */;
/*!40000 ALTER TABLE `admin_wallet_transactions` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `bids`
--

DROP TABLE IF EXISTS `bids`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `bids` (
  `id` int NOT NULL AUTO_INCREMENT,
  `userCardId` int NOT NULL,
  `bidderId` int NOT NULL,
  `amount` double NOT NULL,
  `is_active` tinyint(1) NOT NULL DEFAULT '1',
  `createdAt` datetime(3) NOT NULL DEFAULT CURRENT_TIMESTAMP(3),
  PRIMARY KEY (`id`),
  KEY `bids_bidderId_fkey` (`bidderId`),
  KEY `bids_userCardId_fkey` (`userCardId`),
  CONSTRAINT `bids_bidderId_fkey` FOREIGN KEY (`bidderId`) REFERENCES `users` (`id`) ON DELETE RESTRICT ON UPDATE CASCADE,
  CONSTRAINT `bids_userCardId_fkey` FOREIGN KEY (`userCardId`) REFERENCES `user_cards` (`id`) ON DELETE RESTRICT ON UPDATE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=6 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `bids`
--

LOCK TABLES `bids` WRITE;
/*!40000 ALTER TABLE `bids` DISABLE KEYS */;
INSERT INTO `bids` VALUES (1,3,2,260,1,'2025-06-29 11:27:57.630'),(2,3,4,280,1,'2025-06-30 11:27:57.635'),(3,6,3,11.01,0,'2025-07-15 12:01:28.783'),(4,2,3,6.01,0,'2025-07-16 10:56:38.997'),(5,14,3,10.01,0,'2025-08-04 08:43:35.430');
/*!40000 ALTER TABLE `bids` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `card_transaction_history`
--

DROP TABLE IF EXISTS `card_transaction_history`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `card_transaction_history` (
  `id` int NOT NULL AUTO_INCREMENT,
  `userCardId` int NOT NULL,
  `fromUserId` int DEFAULT NULL,
  `toUserId` int DEFAULT NULL,
  `created_at` datetime NOT NULL DEFAULT CURRENT_TIMESTAMP,
  `action` varchar(50) COLLATE utf8mb4_unicode_ci NOT NULL,
  `notes` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `card_transaction_history_fromUserId_fkey` (`fromUserId`),
  KEY `card_transaction_history_toUserId_fkey` (`toUserId`),
  KEY `card_transaction_history_userCardId_fkey` (`userCardId`),
  CONSTRAINT `card_transaction_history_fromUserId_fkey` FOREIGN KEY (`fromUserId`) REFERENCES `users` (`id`) ON DELETE SET NULL ON UPDATE CASCADE,
  CONSTRAINT `card_transaction_history_toUserId_fkey` FOREIGN KEY (`toUserId`) REFERENCES `users` (`id`) ON DELETE SET NULL ON UPDATE CASCADE,
  CONSTRAINT `card_transaction_history_userCardId_fkey` FOREIGN KEY (`userCardId`) REFERENCES `user_cards` (`id`) ON DELETE RESTRICT ON UPDATE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=25 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `card_transaction_history`
--

LOCK TABLES `card_transaction_history` WRITE;
/*!40000 ALTER TABLE `card_transaction_history` DISABLE KEYS */;
/*!40000 ALTER TABLE `card_transaction_history` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `card_types`
--

DROP TABLE IF EXISTS `card_types`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `card_types` (
  `id` int NOT NULL AUTO_INCREMENT,
  `name` varchar(50) COLLATE utf8mb4_unicode_ci NOT NULL,
  `category` varchar(50) COLLATE utf8mb4_unicode_ci NOT NULL,
  `color` varchar(20) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `symbol` varchar(10) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `description` text COLLATE utf8mb4_unicode_ci,
  `weakness_to` varchar(50) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `resistant_to` varchar(50) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `super_effective` json DEFAULT NULL,
  `not_effective` json DEFAULT NULL,
  `energy_symbol` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `type_order` int DEFAULT '0',
  `is_active` tinyint(1) NOT NULL DEFAULT '1',
  `created_at` datetime NOT NULL DEFAULT CURRENT_TIMESTAMP,
  `updated_at` datetime NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `card_types_name_key` (`name`),
  KEY `card_types_category_idx` (`category`),
  KEY `card_types_is_active_idx` (`is_active`),
  KEY `card_types_type_order_idx` (`type_order`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `card_types`
--

LOCK TABLES `card_types` WRITE;
/*!40000 ALTER TABLE `card_types` DISABLE KEYS */;
/*!40000 ALTER TABLE `card_types` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `cards`
--

DROP TABLE IF EXISTS `cards`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `cards` (
  `id` int NOT NULL AUTO_INCREMENT,
  `name` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL,
  `set_name` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL,
  `set_number` varchar(50) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `rarity` varchar(50) COLLATE utf8mb4_unicode_ci NOT NULL,
  `card_type` varchar(50) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `subtype` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `hp` int DEFAULT NULL,
  `image_url` varchar(500) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `small_image_url` varchar(500) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `tcg_id` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `api_id` varchar(100) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `supertype` varchar(50) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `subtypes` json DEFAULT NULL,
  `set_id` varchar(191) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `rarity_id` int DEFAULT NULL,
  `subtype_id` int DEFAULT NULL,
  `supertype_id` int DEFAULT NULL,
  `primary_type_id` int DEFAULT NULL,
  `secondary_type_id` int DEFAULT NULL,
  `types` json DEFAULT NULL,
  `weakness_type` varchar(50) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `weakness_value` varchar(20) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `resistance_type` varchar(50) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `resistance_value` varchar(20) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `retreat_cost` json DEFAULT NULL,
  `retreat_cost_count` int DEFAULT NULL,
  `evolves_from` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `evolves_to` json DEFAULT NULL,
  `evolution_stage` varchar(50) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `pokemon_type` varchar(100) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `abilities` json DEFAULT NULL,
  `attacks` json DEFAULT NULL,
  `artist` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `flavor_text` text COLLATE utf8mb4_unicode_ci,
  `national_pokedex_numbers` json DEFAULT NULL,
  `regulation_mark` varchar(10) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `tcgplayer_prices` json DEFAULT NULL,
  `cardmarket_prices` json DEFAULT NULL,
  `market_price` decimal(10,2) DEFAULT NULL,
  `price_trend` varchar(20) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `last_price_update` datetime(3) DEFAULT NULL,
  `legalities` json DEFAULT NULL,
  `tournament_legal` tinyint(1) NOT NULL DEFAULT '1',
  `banned_formats` json DEFAULT NULL,
  `condition_notes` text COLLATE utf8mb4_unicode_ci,
  `grading_company` varchar(50) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `grade_score` varchar(10) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `grade_date` datetime(3) DEFAULT NULL,
  `rarity_symbol` varchar(20) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `holographic` tinyint(1) NOT NULL DEFAULT '0',
  `reverse_holo` tinyint(1) NOT NULL DEFAULT '0',
  `first_edition` tinyint(1) NOT NULL DEFAULT '0',
  `shadowless` tinyint(1) NOT NULL DEFAULT '0',
  `promo` tinyint(1) NOT NULL DEFAULT '0',
  `secret_rare` tinyint(1) NOT NULL DEFAULT '0',
  `source` enum('API','MANUAL','MIXED') COLLATE utf8mb4_unicode_ci NOT NULL DEFAULT 'MANUAL',
  `api_updated_at` datetime(3) DEFAULT NULL,
  `sync_enabled` tinyint(1) NOT NULL DEFAULT '1',
  `last_sync` datetime(3) DEFAULT NULL,
  `tags` json DEFAULT NULL,
  `notes` text COLLATE utf8mb4_unicode_ci,
  `featured` tinyint(1) NOT NULL DEFAULT '0',
  `view_count` int NOT NULL DEFAULT '0',
  `created_at` datetime NOT NULL DEFAULT CURRENT_TIMESTAMP,
  `updated_at` datetime NOT NULL,
  `price_tracker_id` varchar(100) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `price_change_7d` decimal(5,2) DEFAULT NULL,
  `volume_24h` decimal(12,2) DEFAULT NULL,
  `market_cap` decimal(15,2) DEFAULT NULL,
  `pricing_sources` json DEFAULT NULL,
  `price_range` json DEFAULT NULL,
  `graded_prices` json DEFAULT NULL,
  `sync_errors` int DEFAULT '0',
  PRIMARY KEY (`id`),
  UNIQUE KEY `cards_api_id_key` (`api_id`),
  UNIQUE KEY `unique_price_tracker_id` (`price_tracker_id`),
  KEY `cards_api_id_idx` (`api_id`),
  KEY `cards_name_idx` (`name`),
  KEY `cards_set_name_idx` (`set_name`),
  KEY `cards_source_idx` (`source`),
  KEY `cards_card_type_idx` (`card_type`),
  KEY `cards_rarity_idx` (`rarity`),
  KEY `cards_market_price_idx` (`market_price`),
  KEY `cards_tournament_legal_idx` (`tournament_legal`),
  KEY `cards_featured_idx` (`featured`),
  KEY `cards_secondary_type_id_idx` (`secondary_type_id`),
  KEY `cards_set_id_idx` (`set_id`),
  KEY `cards_rarity_id_idx` (`rarity_id`),
  KEY `cards_subtype_id_idx` (`subtype_id`),
  KEY `cards_supertype_id_idx` (`supertype_id`),
  KEY `cards_sync_enabled_idx` (`sync_enabled`),
  KEY `cards_last_price_update_idx` (`last_price_update`),
  KEY `idx_price_tracker_id` (`price_tracker_id`),
  CONSTRAINT `cards_rarity_id_fkey` FOREIGN KEY (`rarity_id`) REFERENCES `rarities` (`id`) ON DELETE SET NULL ON UPDATE CASCADE,
  CONSTRAINT `cards_set_id_fkey` FOREIGN KEY (`set_id`) REFERENCES `pokemon_sets` (`id`) ON DELETE SET NULL ON UPDATE CASCADE,
  CONSTRAINT `cards_subtype_id_fkey` FOREIGN KEY (`subtype_id`) REFERENCES `subtypes` (`id`) ON DELETE SET NULL ON UPDATE CASCADE,
  CONSTRAINT `cards_supertype_id_fkey` FOREIGN KEY (`supertype_id`) REFERENCES `supertypes` (`id`) ON DELETE SET NULL ON UPDATE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=155 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `cards`
--

LOCK TABLES `cards` WRITE;
/*!40000 ALTER TABLE `cards` DISABLE KEYS */;
/*!40000 ALTER TABLE `cards` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `catalog_inventory`
--

DROP TABLE IF EXISTS `catalog_inventory`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `catalog_inventory` (
  `id` int NOT NULL AUTO_INCREMENT,
  `card_id` int NOT NULL,
  `quantity_available` int NOT NULL DEFAULT '0',
  `quantity_sold` int NOT NULL DEFAULT '0',
  `last_restock_date` datetime DEFAULT NULL,
  `created_at` datetime DEFAULT CURRENT_TIMESTAMP,
  `updated_at` datetime DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`),
  UNIQUE KEY `unique_card_inventory` (`card_id`),
  KEY `idx_quantity_available` (`quantity_available`),
  CONSTRAINT `catalog_inventory_ibfk_1` FOREIGN KEY (`card_id`) REFERENCES `cards` (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `catalog_inventory`
--

LOCK TABLES `catalog_inventory` WRITE;
/*!40000 ALTER TABLE `catalog_inventory` DISABLE KEYS */;
/*!40000 ALTER TABLE `catalog_inventory` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `commission_settings`
--

DROP TABLE IF EXISTS `commission_settings`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `commission_settings` (
  `id` int NOT NULL AUTO_INCREMENT,
  `setting_type` enum('GLOBAL','RARITY') NOT NULL,
  `setting_key` varchar(50) NOT NULL,
  `commission_rate` decimal(5,2) NOT NULL,
  `is_active` tinyint(1) DEFAULT '1',
  `created_by` int DEFAULT NULL,
  `created_at` datetime DEFAULT CURRENT_TIMESTAMP,
  `updated_at` datetime DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`),
  UNIQUE KEY `unique_setting` (`setting_type`,`setting_key`),
  KEY `idx_setting_type` (`setting_type`),
  KEY `idx_active` (`is_active`)
) ENGINE=InnoDB AUTO_INCREMENT=2 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `commission_settings`
--

LOCK TABLES `commission_settings` WRITE;
/*!40000 ALTER TABLE `commission_settings` DISABLE KEYS */;
INSERT INTO `commission_settings` VALUES (1,'GLOBAL','global',5.00,1,1,'2025-07-21 14:24:21','2025-07-21 14:24:21');
/*!40000 ALTER TABLE `commission_settings` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `notifications`
--

DROP TABLE IF EXISTS `notifications`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `notifications` (
  `id` int NOT NULL AUTO_INCREMENT,
  `user_id` int NOT NULL,
  `type` varchar(50) COLLATE utf8mb4_unicode_ci NOT NULL,
  `title` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL,
  `message` text COLLATE utf8mb4_unicode_ci NOT NULL,
  `data` json DEFAULT NULL,
  `read` tinyint(1) NOT NULL DEFAULT '0',
  `created_at` datetime(3) NOT NULL DEFAULT CURRENT_TIMESTAMP(3),
  `updated_at` datetime(3) NOT NULL,
  PRIMARY KEY (`id`),
  KEY `notifications_user_id_read_idx` (`user_id`,`read`),
  KEY `notifications_created_at_idx` (`created_at`),
  CONSTRAINT `notifications_user_id_fkey` FOREIGN KEY (`user_id`) REFERENCES `users` (`id`) ON DELETE RESTRICT ON UPDATE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=16 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `notifications`
--

LOCK TABLES `notifications` WRITE;
/*!40000 ALTER TABLE `notifications` DISABLE KEYS */;
/*!40000 ALTER TABLE `notifications` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `pokemon_sets`
--

DROP TABLE IF EXISTS `pokemon_sets`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `pokemon_sets` (
  `id` varchar(191) COLLATE utf8mb4_unicode_ci NOT NULL,
  `name` varchar(191) COLLATE utf8mb4_unicode_ci NOT NULL,
  `series` varchar(191) COLLATE utf8mb4_unicode_ci NOT NULL,
  `printed_total` int DEFAULT NULL,
  `total` int DEFAULT NULL,
  `legalities` json DEFAULT NULL,
  `ptcgo_code` varchar(191) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `release_date` varchar(191) COLLATE utf8mb4_unicode_ci NOT NULL,
  `images` json DEFAULT NULL,
  `api_updated_at` datetime(3) DEFAULT NULL,
  `created_at` datetime NOT NULL DEFAULT CURRENT_TIMESTAMP,
  `updated_at` datetime NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `pokemon_sets_name_key` (`name`),
  KEY `pokemon_sets_series_idx` (`series`),
  KEY `pokemon_sets_release_date_idx` (`release_date`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `pokemon_sets`
--

LOCK TABLES `pokemon_sets` WRITE;
/*!40000 ALTER TABLE `pokemon_sets` DISABLE KEYS */;
/*!40000 ALTER TABLE `pokemon_sets` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `price_history`
--

DROP TABLE IF EXISTS `price_history`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `price_history` (
  `id` int NOT NULL AUTO_INCREMENT,
  `card_id` int NOT NULL,
  `price` decimal(10,2) NOT NULL,
  `source` varchar(50) COLLATE utf8mb4_unicode_ci NOT NULL DEFAULT 'manual',
  `recorded_at` datetime NOT NULL DEFAULT CURRENT_TIMESTAMP,
  `metadata` json DEFAULT NULL,
  `created_at` datetime NOT NULL DEFAULT CURRENT_TIMESTAMP,
  `price_type` varchar(50) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `condition_field` varchar(50) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `idx_card_date` (`card_id`,`recorded_at`),
  KEY `idx_card_id` (`card_id`),
  KEY `idx_recorded_at` (`recorded_at`),
  KEY `idx_source` (`source`),
  CONSTRAINT `price_history_card_id_fkey` FOREIGN KEY (`card_id`) REFERENCES `cards` (`id`) ON DELETE RESTRICT ON UPDATE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=198 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `price_history`
--

LOCK TABLES `price_history` WRITE;
/*!40000 ALTER TABLE `price_history` DISABLE KEYS */;
/*!40000 ALTER TABLE `price_history` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `price_sync_logs`
--

DROP TABLE IF EXISTS `price_sync_logs`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `price_sync_logs` (
  `id` int NOT NULL AUTO_INCREMENT,
  `sync_type` varchar(50) DEFAULT NULL,
  `cards_processed` int DEFAULT '0',
  `cards_updated` int DEFAULT '0',
  `cards_failed` int DEFAULT '0',
  `cards_skipped` int DEFAULT '0',
  `total_api_requests` int DEFAULT '0',
  `api_errors` int DEFAULT '0',
  `rate_limit_hits` int DEFAULT '0',
  `start_time` datetime DEFAULT NULL,
  `end_time` datetime DEFAULT NULL,
  `duration_seconds` int DEFAULT '0',
  `error_details` json DEFAULT NULL,
  `performance_stats` json DEFAULT NULL,
  `triggered_by` varchar(100) DEFAULT NULL,
  `created_at` datetime DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`),
  KEY `idx_sync_type` (`sync_type`),
  KEY `idx_start_time` (`start_time`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `price_sync_logs`
--

LOCK TABLES `price_sync_logs` WRITE;
/*!40000 ALTER TABLE `price_sync_logs` DISABLE KEYS */;
/*!40000 ALTER TABLE `price_sync_logs` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `price_tracker_sets`
--

DROP TABLE IF EXISTS `price_tracker_sets`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `price_tracker_sets` (
  `id` varchar(100) NOT NULL,
  `name` varchar(255) NOT NULL,
  `release_date` varchar(50) DEFAULT NULL,
  `card_count` int DEFAULT '0',
  `avg_price` decimal(10,2) DEFAULT NULL,
  `total_market_cap` decimal(15,2) DEFAULT NULL,
  `last_updated` datetime DEFAULT CURRENT_TIMESTAMP,
  `sync_enabled` tinyint(1) DEFAULT '1',
  `created_at` datetime DEFAULT CURRENT_TIMESTAMP,
  `updated_at` datetime DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`),
  UNIQUE KEY `name` (`name`),
  KEY `idx_name` (`name`),
  KEY `idx_release_date` (`release_date`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `price_tracker_sets`
--

LOCK TABLES `price_tracker_sets` WRITE;
/*!40000 ALTER TABLE `price_tracker_sets` DISABLE KEYS */;
/*!40000 ALTER TABLE `price_tracker_sets` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `pricehistory`
--

DROP TABLE IF EXISTS `pricehistory`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `pricehistory` (
  `id` int NOT NULL AUTO_INCREMENT,
  `product_id` int NOT NULL,
  `retailer` varchar(50) COLLATE utf8mb4_unicode_ci NOT NULL DEFAULT 'Unknown',
  `price` decimal(10,2) NOT NULL,
  `recorded_at` datetime NOT NULL DEFAULT CURRENT_TIMESTAMP,
  `stock_status` varchar(50) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `store_quantity` int DEFAULT NULL,
  `ship_quantity` int DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `idx_product_retailer_date` (`product_id`,`retailer`,`recorded_at`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `pricehistory`
--

LOCK TABLES `pricehistory` WRITE;
/*!40000 ALTER TABLE `pricehistory` DISABLE KEYS */;
/*!40000 ALTER TABLE `pricehistory` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `products`
--

DROP TABLE IF EXISTS `products`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `products` (
  `product_id` int NOT NULL AUTO_INCREMENT,
  `retailer` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL,
  `title` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL,
  `url` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL,
  `image` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `screenshot` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `stock_status` varchar(50) COLLATE utf8mb4_unicode_ci NOT NULL,
  `release_date` date DEFAULT NULL,
  `tcin` varchar(20) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  PRIMARY KEY (`product_id`),
  UNIQUE KEY `tcin` (`tcin`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `products`
--

LOCK TABLES `products` WRITE;
/*!40000 ALTER TABLE `products` DISABLE KEYS */;
/*!40000 ALTER TABLE `products` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `rarities`
--

DROP TABLE IF EXISTS `rarities`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `rarities` (
  `id` int NOT NULL AUTO_INCREMENT,
  `name` varchar(191) COLLATE utf8mb4_unicode_ci NOT NULL,
  `symbol` varchar(20) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `order_index` int DEFAULT '0',
  `color` varchar(20) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `description` text COLLATE utf8mb4_unicode_ci,
  `is_active` tinyint(1) NOT NULL DEFAULT '1',
  `created_at` datetime NOT NULL DEFAULT CURRENT_TIMESTAMP,
  `updated_at` datetime NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `rarities_name_key` (`name`),
  KEY `rarities_order_index_idx` (`order_index`),
  KEY `rarities_is_active_idx` (`is_active`)
) ENGINE=InnoDB AUTO_INCREMENT=10 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `rarities`
--

LOCK TABLES `rarities` WRITE;
/*!40000 ALTER TABLE `rarities` DISABLE KEYS */;
/*!40000 ALTER TABLE `rarities` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `reset_tokens`
--

DROP TABLE IF EXISTS `reset_tokens`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `reset_tokens` (
  `id` int NOT NULL AUTO_INCREMENT,
  `email` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL,
  `token` varchar(64) COLLATE utf8mb4_unicode_ci NOT NULL,
  `expires` datetime NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `token` (`token`),
  KEY `idx_expires` (`expires`),
  KEY `idx_token` (`token`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `reset_tokens`
--

LOCK TABLES `reset_tokens` WRITE;
/*!40000 ALTER TABLE `reset_tokens` DISABLE KEYS */;
/*!40000 ALTER TABLE `reset_tokens` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `subtypes`
--

DROP TABLE IF EXISTS `subtypes`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `subtypes` (
  `id` int NOT NULL AUTO_INCREMENT,
  `name` varchar(191) COLLATE utf8mb4_unicode_ci NOT NULL,
  `category` varchar(50) COLLATE utf8mb4_unicode_ci NOT NULL,
  `description` text COLLATE utf8mb4_unicode_ci,
  `order_index` int DEFAULT '0',
  `is_active` tinyint(1) NOT NULL DEFAULT '1',
  `created_at` datetime NOT NULL DEFAULT CURRENT_TIMESTAMP,
  `updated_at` datetime NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `subtypes_name_key` (`name`),
  KEY `subtypes_category_idx` (`category`),
  KEY `subtypes_is_active_idx` (`is_active`)
) ENGINE=InnoDB AUTO_INCREMENT=10 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `subtypes`
--

LOCK TABLES `subtypes` WRITE;
/*!40000 ALTER TABLE `subtypes` DISABLE KEYS */;
/*!40000 ALTER TABLE `subtypes` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `supertypes`
--

DROP TABLE IF EXISTS `supertypes`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `supertypes` (
  `id` int NOT NULL AUTO_INCREMENT,
  `name` varchar(191) COLLATE utf8mb4_unicode_ci NOT NULL,
  `description` text COLLATE utf8mb4_unicode_ci,
  `order_index` int DEFAULT '0',
  `is_active` tinyint(1) NOT NULL DEFAULT '1',
  `created_at` datetime NOT NULL DEFAULT CURRENT_TIMESTAMP,
  `updated_at` datetime NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `supertypes_name_key` (`name`),
  KEY `supertypes_order_index_idx` (`order_index`),
  KEY `supertypes_is_active_idx` (`is_active`)
) ENGINE=InnoDB AUTO_INCREMENT=4 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `supertypes`
--

LOCK TABLES `supertypes` WRITE;
/*!40000 ALTER TABLE `supertypes` DISABLE KEYS */;
INSERT INTO `supertypes` VALUES (1,'Pok├®mon','Pok├®mon cards',1,1,'2025-07-01 11:27:57','2025-07-01 11:27:57'),(2,'Trainer','Trainer cards',2,1,'2025-07-01 11:27:57','2025-07-01 11:27:57'),(3,'Energy',NULL,3,1,'2025-08-08 08:53:44','2025-08-08 08:53:44');
/*!40000 ALTER TABLE `supertypes` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `transactions`
--

DROP TABLE IF EXISTS `transactions`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `transactions` (
  `id` int NOT NULL AUTO_INCREMENT,
  `user_card_id` int NOT NULL,
  `buyer_id` int NOT NULL,
  `seller_id` int NOT NULL,
  `amount` decimal(10,2) NOT NULL,
  `transaction_type` varchar(50) COLLATE utf8mb4_unicode_ci NOT NULL,
  `status` varchar(50) COLLATE utf8mb4_unicode_ci NOT NULL,
  `notes` text COLLATE utf8mb4_unicode_ci,
  `created_at` datetime NOT NULL DEFAULT CURRENT_TIMESTAMP,
  `updated_at` datetime NOT NULL,
  PRIMARY KEY (`id`),
  KEY `transactions_user_card_id_idx` (`user_card_id`),
  KEY `transactions_buyer_id_idx` (`buyer_id`),
  KEY `transactions_seller_id_idx` (`seller_id`),
  KEY `transactions_status_idx` (`status`),
  CONSTRAINT `transactions_buyer_id_fkey` FOREIGN KEY (`buyer_id`) REFERENCES `users` (`id`) ON DELETE RESTRICT ON UPDATE CASCADE,
  CONSTRAINT `transactions_seller_id_fkey` FOREIGN KEY (`seller_id`) REFERENCES `users` (`id`) ON DELETE RESTRICT ON UPDATE CASCADE,
  CONSTRAINT `transactions_user_card_id_fkey` FOREIGN KEY (`user_card_id`) REFERENCES `user_cards` (`id`) ON DELETE RESTRICT ON UPDATE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=4 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `transactions`
--

LOCK TABLES `transactions` WRITE;
/*!40000 ALTER TABLE `transactions` DISABLE KEYS */;
INSERT INTO `transactions` VALUES (1,6,3,2,11.01,'BID_PURCHASE_CONFIRMED','COMPLETED','Purchase confirmed by buyer','2025-07-15 12:07:14','2025-07-16 08:36:51'),(2,2,3,2,6.01,'BID_PURCHASE_CONFIRMED','COMPLETED','Purchase confirmed by buyer','2025-07-16 10:58:31','2025-07-16 10:59:32'),(3,14,3,2,10.01,'ADMIN_FORCE_COMPLETED','COMPLETED','Force completed by admin Admin User - Buyer failed to confirm within 24 hours','2025-08-04 12:40:57','2025-08-27 11:30:06');
/*!40000 ALTER TABLE `transactions` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `user_cards`
--

DROP TABLE IF EXISTS `user_cards`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `user_cards` (
  `id` int NOT NULL AUTO_INCREMENT,
  `owner_id` int NOT NULL,
  `card_id` int NOT NULL,
  `condition` varchar(50) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `is_for_sale` tinyint(1) NOT NULL DEFAULT '0',
  `sale_type` varchar(50) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `fixed_price` decimal(10,2) DEFAULT NULL,
  `reserve_price` decimal(10,2) DEFAULT NULL,
  `auction_end` datetime DEFAULT NULL,
  `is_sold` tinyint(1) NOT NULL DEFAULT '0',
  `notes` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `acquired_date` datetime DEFAULT NULL,
  `created_at` datetime NOT NULL DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`),
  KEY `owner_id` (`owner_id`),
  KEY `card_id` (`card_id`),
  KEY `user_cards_is_for_sale_idx` (`is_for_sale`),
  KEY `user_cards_is_sold_idx` (`is_sold`),
  CONSTRAINT `user_cards_card_id_fkey` FOREIGN KEY (`card_id`) REFERENCES `cards` (`id`) ON DELETE RESTRICT ON UPDATE CASCADE,
  CONSTRAINT `user_cards_owner_id_fkey` FOREIGN KEY (`owner_id`) REFERENCES `users` (`id`) ON DELETE RESTRICT ON UPDATE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=23 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `user_cards`
--

LOCK TABLES `user_cards` WRITE;
/*!40000 ALTER TABLE `user_cards` DISABLE KEYS */;
/*!40000 ALTER TABLE `user_cards` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `user_wallets`
--

DROP TABLE IF EXISTS `user_wallets`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `user_wallets` (
  `id` int NOT NULL AUTO_INCREMENT,
  `user_id` int NOT NULL,
  `balance` decimal(10,2) NOT NULL,
  `frozen_balance` decimal(10,2) NOT NULL,
  `created_at` datetime NOT NULL DEFAULT CURRENT_TIMESTAMP,
  `updated_at` datetime NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `user_wallets_user_id_key` (`user_id`),
  CONSTRAINT `user_wallets_user_id_fkey` FOREIGN KEY (`user_id`) REFERENCES `users` (`id`) ON DELETE RESTRICT ON UPDATE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=5 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `user_wallets`
--

LOCK TABLES `user_wallets` WRITE;
/*!40000 ALTER TABLE `user_wallets` DISABLE KEYS */;
INSERT INTO `user_wallets` VALUES (1,1,9725.00,0.00,'2025-07-01 11:27:56','2025-07-02 10:36:43'),(2,2,195.44,0.00,'2025-07-01 11:27:56','2025-08-27 11:30:06'),(3,3,715.36,50.00,'2025-07-01 11:27:56','2025-08-27 11:30:06'),(4,4,1428.00,100.00,'2025-07-01 11:27:56','2025-07-09 09:49:45');
/*!40000 ALTER TABLE `user_wallets` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `users`
--

DROP TABLE IF EXISTS `users`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `users` (
  `id` int NOT NULL AUTO_INCREMENT,
  `email` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL,
  `name` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL,
  `password` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL,
  `role` varchar(50) COLLATE utf8mb4_unicode_ci NOT NULL DEFAULT 'user',
  `subscriptionStatus` varchar(50) COLLATE utf8mb4_unicode_ci NOT NULL DEFAULT 'inactive',
  `last_login_at` datetime DEFAULT NULL,
  `discord_access_token` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `discord_refresh_token` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `google_access_token` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `google_refresh_token` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `google_scopes` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `registeredAt` datetime NOT NULL DEFAULT CURRENT_TIMESTAMP,
  `is_verified` tinyint DEFAULT '0',
  `verification_code` varchar(10) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `email` (`email`)
) ENGINE=InnoDB AUTO_INCREMENT=5 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `users`
--

LOCK TABLES `users` WRITE;
/*!40000 ALTER TABLE `users` DISABLE KEYS */;
/*!40000 ALTER TABLE `users` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `waitlist`
--

DROP TABLE IF EXISTS `waitlist`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `waitlist` (
  `id` int NOT NULL AUTO_INCREMENT,
  `email` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL,
  `phone_number` varchar(20) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `name` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL,
  `created_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP,
  `status` varchar(50) COLLATE utf8mb4_unicode_ci DEFAULT 'PENDING',
  `source` varchar(50) COLLATE utf8mb4_unicode_ci DEFAULT 'WEBSITE',
  `metadata` json DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `email` (`email`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `waitlist`
--

LOCK TABLES `waitlist` WRITE;
/*!40000 ALTER TABLE `waitlist` DISABLE KEYS */;
/*!40000 ALTER TABLE `waitlist` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `wallet_transactions`
--

DROP TABLE IF EXISTS `wallet_transactions`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `wallet_transactions` (
  `id` int NOT NULL AUTO_INCREMENT,
  `user_id` int NOT NULL,
  `wallet_id` int NOT NULL,
  `transaction_type` varchar(50) COLLATE utf8mb4_unicode_ci NOT NULL,
  `amount` decimal(10,2) NOT NULL,
  `balance_before` decimal(10,2) NOT NULL,
  `balance_after` decimal(10,2) NOT NULL,
  `description` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `reference_type` varchar(50) COLLATE utf8mb4_unicode_ci NOT NULL,
  `reference_id` int DEFAULT NULL,
  `admin_id` int DEFAULT NULL,
  `created_at` datetime NOT NULL DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`),
  KEY `wallet_transactions_user_id_fkey` (`user_id`),
  KEY `wallet_transactions_wallet_id_fkey` (`wallet_id`),
  CONSTRAINT `wallet_transactions_user_id_fkey` FOREIGN KEY (`user_id`) REFERENCES `users` (`id`) ON DELETE RESTRICT ON UPDATE CASCADE,
  CONSTRAINT `wallet_transactions_wallet_id_fkey` FOREIGN KEY (`wallet_id`) REFERENCES `user_wallets` (`id`) ON DELETE RESTRICT ON UPDATE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=33 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `wallet_transactions`
--

LOCK TABLES `wallet_transactions` WRITE;
/*!40000 ALTER TABLE `wallet_transactions` DISABLE KEYS */;
/*!40000 ALTER TABLE `wallet_transactions` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `watchlist`
--

DROP TABLE IF EXISTS `watchlist`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `watchlist` (
  `id` int NOT NULL AUTO_INCREMENT,
  `retailer_name` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL,
  `product_url` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `product_title` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL,
  `price` decimal(10,2) NOT NULL,
  `stock_quantity` int DEFAULT NULL,
  `stock_status` varchar(50) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `user_id` int NOT NULL,
  PRIMARY KEY (`id`),
  KEY `user_id` (`user_id`),
  CONSTRAINT `watchlist_user_id_fkey` FOREIGN KEY (`user_id`) REFERENCES `users` (`id`) ON DELETE RESTRICT ON UPDATE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `watchlist`
--

LOCK TABLES `watchlist` WRITE;
/*!40000 ALTER TABLE `watchlist` DISABLE KEYS */;
/*!40000 ALTER TABLE `watchlist` ENABLE KEYS */;
UNLOCK TABLES;
/*!40103 SET TIME_ZONE=@OLD_TIME_ZONE */;

/*!40101 SET SQL_MODE=@OLD_SQL_MODE */;
/*!40014 SET FOREIGN_KEY_CHECKS=@OLD_FOREIGN_KEY_CHECKS */;
/*!40014 SET UNIQUE_CHECKS=@OLD_UNIQUE_CHECKS */;
/*!40101 SET CHARACTER_SET_CLIENT=@OLD_CHARACTER_SET_CLIENT */;
/*!40101 SET CHARACTER_SET_RESULTS=@OLD_CHARACTER_SET_RESULTS */;
/*!40101 SET COLLATION_CONNECTION=@OLD_COLLATION_CONNECTION */;
/*!40111 SET SQL_NOTES=@OLD_SQL_NOTES */;

-- Dump completed on 2025-09-01 14:19:40
